extends templates/base.pug

block pageHead
  link(rel="stylesheet", href="./assets/styles/home.scss")

block pageBody
  .jc-page-home
    .section.section__masthead
      .section-content
        .block__mast-image
          img(src="./assets/images/home-silhouette.jpg")
        .container
          .block__back-frame.block__back-frame--1
          .block__back-frame.block__back-frame--2
          .block__header-text
            h1.header Jacob Cook
    .section.section__about
      .section-content
        .block__back-frame.block__back-frame--1
        .container
          .block__back-frame.block__back-frame--2
          .block__about-text
            h1.header Hello.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .section.section__footer
      .section-content
        .container
          h1.header I like lamp
