{% extends 'base.html' %}
{% block title %}{%if article.category == 'articles'%}{{ article.title|striptags }}{%elif article.category == 'statuses'%}Status posted {{article.date}}{%endif%}{% endblock title %}

{% block head_js %}
    <script src="{{ SITEURL }}/theme/js/jquery.fitvids.js"></script>
    <script>
        $(document).ready(function(){
            $(".content").fitVids();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="blog-content">
            <div class="text-center">
                <h1 class="page-title">Jacob Cook</h1>
                <small class="blog-nav page-title"><a href="/">Home</a> &#x2022; <a href="/about">About</a> &#x2022; <a href="/blog">Blog</a> &#x2022; <a href="https://micro.jcook.cc">Micro</a> &#x2022; <a href="/links">Links</a> &#x2022; <a href="/files/cv.pdf">CV</a></small>
            </div>
            <section class="post">
                <header class="post-header">
                    <h1 class="post-title">{{ article.title }}</h1>
                        <small class="text-muted">
                            Posted {{ article.locale_date }} under: {% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> {% endfor %}
                        </small>
                </header>
                <hr />
            {{ article.content }}
            </section>
            <a href="#" class="go-top"><i class="fa fa-toggle-up"></i></a>
            {% if DISQUS_SITENAME %}
                <div class="comments">
                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        var disqus_identifier = "{{ article.url }}";
                        var disqus_url = "{{ SITEURL }}/{{ article.url }}";
                        (function() {
                            var dsq = document.createElement('script');
                            dsq.type = 'text/javascript';
                            dsq.async = true;
                            dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view <a href="http://disqus.com/?ref_noscript">comments</a>.</noscript>
                </div>
            {% endif %}
            {% include 'footer.html' %}
        </div>
    </div>
{% endblock %}
