{% extends 'base.html' %}
{% block hlinks %}
    <link rel="me" href="https://twitter.com/peakwinter" />
    <link rel="me" href="https://github.com/peakwinter" />
    <link rel="me" href="mailto:jacob@jcook.cc" />
{% endblock hlinks %}

{% block content %}
    <div class="container">
        <div class="fp">
            <h1><a href="/">Jacob Cook</a></h1>
            <p><a href="/about" class="link">about</a> &#x2022; <a href="/blog" class="link">blog</a> &#x2022; <a href="https://micro.jcook.cc" class="link">micro</a> &#x2022; <a href="/links" class="link">links</a> &#x2022; <a href="/cv" class="link">cv</a></p>
        </div>
    </div>
{% endblock content %}
