{% extends 'index.html' %}
{% block title %}{{ page.title|striptags }} - {{ super() }}{% endblock title %}

{% block content %}
    <div class="container">
        <div class="fp">
            <h1><a href="/">Jacob Cook</a></h1>
            <p><a href="/about" class="link">about</a> &#x2022; <a href="/blog" class="link">blog</a> &#x2022; <a href="https://micro.jcook.cc" class="link">micro</a> &#x2022; <a href="/links" class="link">links</a> &#x2022; <a href="/files/cv.pdf" class="link">cv</a></p>
        </div>
        <div class="page-content">
            {{ page.content }}
        </div>
    </div>
{% endblock %}
