<div class="jc-social">
	<h3>
    {% if site.github %}
	  <a href="https://github.com/{{ site.github }}"><i class="fa fa-github"></i></a>&nbsp;&nbsp;
    {% endif %}
    {% if site.email %}
	  <a href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i></a>&nbsp;&nbsp;
    {% endif %}

    {% if site.twitter %}
	  <a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
    {% endif %}
		{% if site.lastfm %}
	  <a href="https://www.last.fm/user/{{ site.lastfm }}"><i class="fa fa-lastfm-square"></i></a>&nbsp;&nbsp;
    {% endif %}
    {% if site.linkedin %}
	  <a href="https://linkedin.com/in/{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a>&nbsp;&nbsp;
    {% endif %}
    {% if site.instagram %}
	  <a href="https://instagram.com/{{ site.instagram }}"><i class="fa fa-instagram"></i></a>
    {% endif %}
	</h3>
</div>
