<div class="jc-social">
	<h3>
    {% if site.github %}
	  <a href="https://github.com/{{ site.github }}"><i class="fa fa-fw fa-github"></i></a>
    {% endif %}
    {% if site.email %}
	  <a href="mailto:{{ site.email }}"><i class="fa fa-fw fa-envelope"></i></a>
    {% endif %}
		{% if site.keybase %}
	  <a href="https://keybase.io/{{ site.keybase }}"><i class="fa fa-fw fa-key"></i></a>
    {% endif %}

    {% if site.twitter %}
	  <a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-fw fa-twitter"></i></a>
    {% endif %}
		{% if site.mastodon %}
	  <a href="https://mastodon.social/users/{{ site.mastodon }}"><i class="fa fa-fw fa-bullhorn"></i></a>
    {% endif %}
		{% if site.lastfm %}
	  <a href="https://www.last.fm/user/{{ site.lastfm }}"><i class="fa fa-fw fa-lastfm-square"></i></a>
    {% endif %}
    {% if site.linkedin %}
	  <a href="https://linkedin.com/in/{{ site.linkedin }}"><i class="fa fa-fw fa-linkedin"></i></a>
    {% endif %}
    {% if site.instagram %}
	  <a href="https://instagram.com/{{ site.instagram }}"><i class="fa fa-fw fa-instagram"></i></a>
    {% endif %}
	</h3>
</div>
