/* HTML/Body
-------------------------------------------------- */
html,
body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #1C0C0E;
}

body {
  background-attachment: fixed;
}

a:hover {
  color: #4A8BBA;
}

.container {
  width: auto;
  max-width: 800px;
}

.img-responsive {
 display: block;
 height: auto;
 max-width: 100%;
}

.jc-scroll {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
}


/* Heading
-------------------------------------------------- */

.jc-hide-navbar {
  visibility: hidden;
}

.jc-nav-brand, .jc-nav-brand:hover, .jc-nav-brand:focus {
  color: #6b6b6b;
  font-weight: 700;
}

.navbar-static-top {
  margin-bottom: 10px;
}

.navbar-default {
  background-color: transparent;
  border: 0;
}

.navbar-default .navbar-text {
  color: #6b6b6b;
}

.navbar-default .navbar-nav > li > a {
  color: #6b6b6b;
  font-size: 14px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #6b6b6b;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #6b6b6b;
  background-color: #ffffff;
}


/* Text
-------------------------------------------------- */

a {
  color: #3E809E;
}

p {
  margin: 0 0 15px;
  line-height: 1.5;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 7rem;
  margin-bottom: 30px;
}

h2 {
  font-size: 72px;
  margin-bottom: 25px;
}

h3 {
  font-size: 48px;
  margin: 35px 0 30px 0;
}

h4 {
  font-size: 36px;
  margin: 30px 0;
}

h5 {
  font-size: 18px;
}

blockquote {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 20px;
}

blockquote > small {
  margin-top: 5px;
}

.text-muted {
	color: #6b6b6b;
}

.container .text-muted {
  margin: 20px 0;
}

.jc-text-postscript {
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

.jc-hire-skills {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  text-align: center;
}

.jc-social {
  text-align: center;
}


/* Home
-------------------------------------------------- */

#home {
  height: 100%;
}

#home .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.jc-home-avatar {
  display: inline-block;
  border: 5px solid #1C0C0E;
  border-radius: 75px;
  width: 150px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
}

.jc-home-name {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
}

.jc-home-about {
  font-family: 'Playfair Display', serif;
}

.jc-home-social h3 {
  font-size: 24px;
}

.jc-home-about a,
.jc-home-social a {
  color: #1C0C0E;
}


/* Pages
-------------------------------------------------- */

.jc-blog-title a {
  color: #333;
}

.jc-blog-body {
  text-align: left;
  line-height: 30px;
  font-size: 18px;
}

.jc-blog-body img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 25px 0;
}

.jc-blog-body .pull-left img,
.jc-blog-body .pull-right img {
  margin: 0 25px;
}

.jc-blog-body .bottom-divider {
  margin: 35px 0;
}

.jc-blog-tag {
  background-color: #295073;
  vertical-align: 10%;
}

.jc-about-avatar {
  float: left;
  max-height: 175px;
  margin: 0 20px 10px 0;
}


/* Footer
-------------------------------------------------- */

.footer {
  margin-top: 50px;
  font-size: 12px;
}


/* Responsive
-------------------------------------------------- */

@media (max-width: 1199px) {
  .jc-home-name {
    font-size: 4rem;
  }
}

@media (max-width: 1040px) {
  .jc-home-about {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .jc-hire-icons {
    display: none;
  }

  .jc-scroll {
    display: none !important;
  }
}

@media (max-width: 915px) {
  .jc-home-name {
    font-size: 3rem;
  }

  .jc-home-about {
    font-size: 14px;
  }
}

@media (max-width: 850px) {
  #home .jc-home-name-pane {
    width: 40%;
  }

  .jc-home-about {
    font-size: 12px;
  }
}

@media (max-width: 799px) {
  #home {
    background: none;
  }

  #home .jc-home-name-pane {
    width: 100%;
    background: #1C0C0E;
  }

  .jc-home-avatar {
    display: block;
  }

  .jc-home-about {
    font-size: 12px;
  }
}

@media (max-width: 374px) {
  .jc-about-avatar {
    display: none;
  }

  .frameblock-inner {
    border-width: 12px;
  }

  .jc-social h3 {
    font-size: 24px;
  }
}
