/* HTML/Body
-------------------------------------------------- */
html,
body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

body {
  background-attachment: fixed;
}

.container {
  width: auto;
  max-width: 800px;
}

.img-responsive {
 display: block;
 height: auto;
 max-width: 100%;
}

.jc-scroll {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
}


/* Heading
-------------------------------------------------- */

.jc-hide-navbar {
  visibility: hidden;
}

.jc-nav-brand, .jc-nav-brand:hover, .jc-nav-brand:focus {
  color: #6b6b6b;
  font-weight: 700;
}

.navbar-static-top {
  margin-bottom: 10px;
}

.navbar-default {
  background-color: transparent;
  border: 0;
}

.navbar-default .navbar-text {
  color: #6b6b6b;
}

.navbar-default .navbar-nav > li > a {
  color: #6b6b6b;
  font-size: 14px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #6b6b6b;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #6b6b6b;
  background-color: #ffffff;
}


/* Text
-------------------------------------------------- */

a {
  color: #3E809E;
}

p {
  margin: 0 0 15px;
  line-height: 1.5;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 7rem;
  margin-bottom: 30px;
}

h2 {
  font-size: 72px;
  margin-bottom: 25px;
}

h3 {
  font-size: 48px;
  margin: 35px 0 30px 0;
}

h4 {
  font-size: 36px;
  margin: 30px 0 25px 0;
}

h5 {
  font-size: 18px;
}

blockquote {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 20px;
}

blockquote > small {
  margin-top: 5px;
}

.text-muted {
	color: #6b6b6b;
}

.container .text-muted {
  margin: 20px 0;
}

.jc-text-postscript {
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

.jc-hire-skills {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  text-align: center;
}

.jc-social {
  text-align: center;
}


/* Home
-------------------------------------------------- */

#home {
  height: 100%;
}

.frameblock {
  width: 100%;
  padding: 25px;
  background: url('/static/img/cover.jpg');
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #FFF;
}

.frameblock a {
  color: #FFF;
}

.frameblock-inner {
  border: 24px solid #FFF;
}

.page.frameblock-inner {
  min-height: 100%;
}

.jc-home-name {
  margin-top: 30%;
  font-size: 128px;
  font-weight: 700;
  line-height: 1;
}

.jc-home-about {
  margin-top: 50px;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
}

.jc-home-about a:hover {
  color: #3E809E;
}


/* Pages
-------------------------------------------------- */

.jc-blog-title a {
  color: #333;
}

.jc-blog-body {
  text-align: left;
  line-height: 30px;
  font-size: 18px;
}

.jc-blog-body img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 25px 0;
}

.jc-blog-body .pull-left img,
.jc-blog-body .pull-right img {
  margin: 0 25px;
}

.jc-blog-body .bottom-divider {
  margin: 35px 0;
}

.jc-blog-tag {
  background-color: #295073;
  vertical-align: 10%;
}

.jc-about-avatar {
  float: left;
  max-height: 175px;
  margin: 0 20px 10px 0;
}


/* Footer
-------------------------------------------------- */

.footer {
  margin-top: 50px;
  font-size: 12px;
}


/* Responsive
-------------------------------------------------- */

@media (max-width: 992px) {
  .jc-hire-icons {
    display: none;
  }

  .jc-home-name {
    margin-top: 20%;
    font-size: 64px;
    text-align: center;
  }

  .jc-home-avatar {
    margin-top: 0;
    text-align: center;
  }

  .jc-home-about {
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    max-width: 600px;
    text-align: center;
  }

  .jc-scroll {
    display: none !important;
  }
}

@media (max-width: 374px) {
  .jc-about-avatar {
    display: none;
  }

  .jc-home-name {
    margin-top: 35%;
  }

  .jc-home-about {
    font-size: 20px;
  }

  .frameblock-inner {
    border-width: 12px;
  }

  .jc-social h3 {
    font-size: 28px;
  }
}
