@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  src: local('Exo 2 Light'), local('Exo2-Light'), url('/theme/fonts/exo2l.woff') format('woff');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: local('Exo 2'), local('Exo2-Regular'), url('/theme/fonts/exo2.woff') format('woff');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  src: local('Exo 2 Bold'), local('Exo2-Bold'), url('/theme/fonts/exo2b.woff') format('woff');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), url('/theme/fonts/merriweather.woff') format('woff');
}

html, body {
	height: 100%;
}

body {
	background: url('/images/home.jpg') no-repeat center center transparent;
	background-attachment: fixed;
}

a {
	outline: 0 !important;
}

.fp {
	position: absolute;
	bottom: 40px;
}

.fp h1 a {
	text-decoration: none;
}

.fp h1, .fp a, .fp p {
	color: #FFFFFF;
	font-family: 'Exo 2', sans-serif;
}

.fp .link {
	color: #FFFFFF;
	padding: 5px 15px;
	letter-spacing: 2px;
}

.page-wrapper {
	position: relative;
}

.container {
	height: 100%;
}

.page-content {
	background-color:rgba(0,0,0,0.5);
	color: #FFFFFF;
	padding: 20px 35px;
	min-height: 100%;
	text-align: right;
	width: 550px;
	float: right;
	font-family: 'Merriweather', serif;
	font-size: 14px;
	line-height: 1.4;
}

.blog-content {
	background-color:rgba(255,255,255,0.9);
	/*color: #000000;*/
	padding: 20px 35px;
	min-height: 100%;
	width: 750px;
	font-family: 'Merriweather', serif;
	font-size: 18px;
	line-height: 1.6;
	margin-left: auto;
	margin-right: auto;
}

.blog-nav, .blog-nav a {
	color:rgba(0,0,0,0.3);
	letter-spacing: 2px;
	text-transform: lowercase;
}

.page-content a {
	color: #DDECFF;
}

.page-title {
	font-family: 'Exo 2', sans-serif;
}

.post-title {
	font-family: 'Merriweather', serif;
}

a.post-title {
	font-weight: 700;
}

.post {
	margin-top: 30px;
}

.post img {
	display: inline-block;
	max-width: 100%;
	padding: 4px;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 4px;
	margin: 15px 0px;
}

.post h1, h2, h3, h4 {
	font-family: 'Merriweather', serif;
}

.post h2, h3 {
	margin-top: 35px;
}

.thinft {
	font-weight: 300;
}

.wideft {
	font-weight: 700;
}

.go-top {
	position: fixed;
	bottom: 25px;
	right: 25px;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.2);
	background-color: rgba(0, 0, 0, 0.2);
	font-size: 36px;
	padding: 0px 10px;
	border-radius: 4px;
	display: none;
}

.go-top a, .go-top a:hover {
	color: rgba(0, 0, 0, 0.2);
}

blockquote {
	border-color: #FFFFFF;
}

@media (max-width: 984px) {
	.fp {
		position: inherit;
		text-align: center;
	}
	.page-content, .blog-content {
		width: 80%;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.page-content {
		text-align: center;
	}
}

@media (max-width: 480px) {
	body {
		background: #5C718C;
	}
	.page-content, .blog-content {
		width: 100%;
		padding: 20px 15px;
	}
}
