@import url('highlight.js/styles/default.css');

.jc-page-blog {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  color: #111;

  img {
    &.pull-left {
      margin-right: 20px;
    }

    &.pull-right {
      margin-left: 20px;
    }
  }

  a {
    color: #0F50A6;
  }

  .header {
    font-weight: 600;
  }

  .left-column {
    width: 20vw;
    padding: 40px;
    letter-spacing: -0.05em;
  }

  .right-column {
    flex: 1 1 auto;
    padding: 40px;
  }

  .block__blog-logo {
    font-weight: 500;
    width: 200px;
    height: 200px;
    border: 1px solid #111;
    margin: 0 0 40px 20px;

    .header {
      position: relative;
      left: -20px;
      width: 150px;
      text-indent: 3px;
      background-color: #fff;
    }
  }

  .block__blog-nav {
    ul {
      list-style: none;

      li {
        font-size: 18px;
        margin: 20px 0;
      }

      li a {
        color: #111;
        text-decoration: none;
      }
    }
  }

  .post-list {
    list-style: none;

    .post-list-item {
      small {
        font-weight: 400;
        font-size: 16px;
      }
    }
  }

  .jc-blog-post {
    max-width: 60vw;

    .header {
      font-weight: 700;
    }

    .post-title {
      margin-top: 0;
    }

    h1 {
      font-size: 48px;
    }

    h2 {
      font-size: 40px;
    }

    h3 {
      font-size: 32px;
      margin: 48px 0 24px 0;
    }

    h4 {
      font-size: 24px;
      margin: 36px 0 12px 0;
    }

    p, li {
      font-family: 'EB Garamond', serif;
      font-size: 20px;
      line-height: 1.5;
    }

    .post-meta {
      margin: 80px 0 60px 0;
      border: 1px solid #111;
      padding: 20px;

      p {
        font-family: 'Montserrat', sans-serif;

        &.post-tags span {
          font-family: monospace;
          font-size: 18px;
        }
      }
    }

    img {
      max-width: 100%;

      &.post-image {
        margin-bottom: 20px;
        border: 1px solid #111;
      }
    }

    code {
      background-color: #EEE;
      padding: 2px 4px;
      border-radius: 2px;
      color: #880000;
      font-size: 16px;
    }

    pre {
      background-color: #EEE;
      padding: 15px;
      border-radius: 2px;
      word-break: break-all;
      word-wrap: break-word;

      code {
        font-size: 14px;
        color: inherit;
        padding: 0;
      }
    }

    hr {
      margin: 60px 0 50px 0;
      border: 0;
      border-top: 1px solid #eee;
    }
  }
}