<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Jacob Cook - <%= @item[:title] %></title>

    <meta name="author" content="Jacob Cook" />
    <meta name="description" content="Personal website and blog for Jacob Cook" />
    <meta name="google-site-verification" content="Wyqe4_FHjA4Zxn6hg9ZC5OQnWObNyu2Hqltr1VHdrbs" />

    <link href='http://fonts.googleapis.com/css?family=Ovo' rel='stylesheet' type='text/css'>

    <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/css/style-pyg.css" type="text/css" />
    <link rel="stylesheet" href="/css/app.css" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
</head>

<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li<% if @item[:title] == 'Home' %> class='active'<% end %>><a href="/">Home</a></li>
      <li<% if @item[:title] == 'About' %> class='active'<% end %>><a href='/about/'>About</a></li>
      <li<% if @item[:kind] == 'article' or @item[:title] == 'Blog' %> class='active'<% end %>><a href='/blog/'>Blog</a></li>
      <li<% if @item[:title] == 'Archive' %> class='active'<% end %>><a href='/archive/'>Archive</a></li>
    </ul>
    <h3 class="text-muted">Jacob Cook</h3>
  </div>

  <%= yield %>
  
</div>
</body>
</html>
