extends /templates/blog.pug

block blogPageHead
  title= `Blog | ${config.title}`

block blogPageBody
  ul.post-list
    each post in posts.reverse()
      li.post-list-item
        h2
          a(href=post.permalink)= post.title
          br
          small= post.date.format('D MMMM YYYY')
