---
layout: layout
---

{% include header.html %}

<div class="container">
	<div class="jc-blog-post">
		<h3 class="jc-blog-title">
		  <a href="{{ page.url }}">{{ page.title }}</a>
		</h3>
	</div>
	<div class="jc-blog-meta">
		<h5>
		{{ page.date | date: "%B %e, %Y" }}
			&nbsp;&mdash;&nbsp; Filed under:
			{% for tag in page.tags %}
			 <a href="/blog/tags/#{{ tag | slugify }}"><em>{{ tag }}</em></a>{% if forloop.last == false %},{% endif %}
			{% endfor %}
		</h5>
	</div>
	<hr />
	<div class="jc-blog-body">
		{% if page.image and page.image != site.author.picture %}
			<img class="img-responsive" src="{{ page.image }}" />
		{% endif %}
		{% if page.image_attribution %}
			<em><small>{{ page.image_attribution | markdownify }}</small></em>
			<hr />
		{% endif %}

	  {{ content }}

		{% if page.series %}
			{% include series-footer.html series=page.series %}
		{% endif %}

	   <hr class="bottom-divider" />
		 <h3>Got something to say?</h3>
		 <p>Let me know what you think by <a href="https://twitter.com/{{ site.twitter.username }}">Tweeting me 🐦</a>, <a href="https://mastodon.social/@{{ site.mastodon }}">tooting at me 🎺</a>, or <a href="mailto:{{ site.email }}">sending an email 📨</a>.

		 <div class="jc-blog-related">
		   <h4>Recent Posts</h4>
		   {% for post in site.related_posts limit:3 %}
				<div class="row">
					 <div class="col-sm-3 col-md-3 col-lg-3">
						 <h5 style="text-align: right">
						 	{{ post.date | date: "%B %e, %Y" }}
						</h5>
					 </div>
					 <div class="col-sm-9 col-md-9 col-lg-9">
						 <h5 style="text-align: left">
						 	<strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
						</h5>
					 </div>
				</div>
			{% endfor %}
	   </div>
	</div>
</div>

<div class="jc-scroll"><a href="#top">scroll up</a></div>

{% include footer.html %}
