extends base.pug

block pageHead
  link(rel="stylesheet", href="~/assets/styles/blog.scss")
  block blogPageHead

block pageBody
  .jc-page-blog
    .container-fluid
      .row
        .jc-blog-sidebar.col-xl-2
          .jc-blog-sidebar-content
            .block__blog-logo
              h1.header.jc-heavy-title
                a(href="/") Jacob Cook
              ul.block__blog-nav
                li.nav-item
                  a(href="/blog") Blog
                  //- ul.nav-sub
                  //-   li.nav-item
                  //-     a(href="/blog/tags/tech/") Tech
                  //-   li.nav-item
                  //-     a(href="/blog/tags/mobility/") Mobility
                  //-   li.nav-item
                  //-     a(href="/blog/tags/media/") Media
                  //-   li.nav-item
                  //-     a(href="/blog/tags/travel/") Travel
                li.nav-item
                  a(href="/#about") About
                li.nav-item
                  a(href="/#contact") Contact
          .block__blog-social
            .jc-scroll
                a(href='#top') Scroll up
            a.btn.btn-instagram(href="https://instagram.com/peakwinter" role="button")
              i.fab.fa-instagram
            a.btn.btn-twitter(href="https://twitter.com/peakwinter" role="button")
              i.fab.fa-twitter
            a.btn.btn-mastodon(href="https://mastodon.social/@peakwinter" role="button")
              i.fab.fa-mastodon
            a.btn.btn-linkedin(href="https://www.linkedin.com/in/jacobaaroncook/" role="button")
              i.fab.fa-linkedin
        .jc-blog-main.col-xl
          block blogPageBody
  script(src="~/assets/js/blog.js")
