body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
  margin: 20px 0 30px 0;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

.date {
  margin: 10px 0px;
}

.entry {
  padding-bottom: 60px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(245,245,245);
}

.post p {
  font-family: 'Ovo', serif;
  font-size: 20px;
  line-height: 1.5;
  margin: 20px 0px;
}

.post h2, .post h3 {
  margin-top: 40px;
}

.post img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 20px 0px;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.related {
  margin-bottom: 30px;
}

a {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: 'Ovo', serif;
  font-weight: bold;
  color: #317eac;
  text-rendering: optimizelegibility;
}
